#Main {
  width: 1440px;
  margin: 60px auto;
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero h1 {
  margin-bottom: 1.5rem;
  font-size: clamp(4.5rem, 5vw, 4rem);
  font-weight: 800;
  text-transform: uppercase;
  color: #c9d6c1;
  text-shadow: 0 10px 3px rgba(0, 0, 0, 0.55);
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

.hero p {
  max-width: 575px;
  margin: 0 auto 2.5rem 10px;
  font-size: 2rem;
  line-height: 1.4;
  color: #c9d6c1;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}

@keyframes cta-neon {
  0%,
  20%,
  22%,
  25%,
  55%,
  100% {
    text-shadow:
      /* contour sombre (lisibilité) */ -1px -1px 0 rgba(0, 0, 0, 0.35),
      1px -1px 0 rgba(0, 0, 0, 0.35), -1px 1px 0 rgba(0, 0, 0, 0.35),
      1px 1px 0 rgba(0, 0, 0, 0.35), /* néon blanc */ 0 0 4px #ffffff,
      0 0 8px #ffffff, 0 0 16px #ffffff;
  }

  21%,
  24%,
  56% {
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.45), 1px -1px 0 rgba(0, 0, 0, 0.45),
      -1px 1px 0 rgba(0, 0, 0, 0.45), 1px 1px 0 rgba(0, 0, 0, 0.45);
  }
}

.cta-neon {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  background: transparent;
  text-shadow: inherit;
  cursor: pointer;
  animation: cta-neon 10s infinite;
  border: none;
  color: #c9d6c1;
  margin: -10px auto auto 515px;
}
