#Main {
  width: 1440px;
  margin: 60px auto;
}

.title h1 {
  font-size: clamp(3rem, 6vw, 5rem);
  font-weight: 700;
  text-align: center;
  color: #2e3440;
  letter-spacing: -0.02em;
}

@keyframes neon-outline-flicker {
  0%,
  20%,
  22%,
  25%,
  55%,
  100% {
    text-shadow:
      /* contour sombre (lisibilité) */ -1px -1px 0 rgba(0, 0, 0, 0.35),
      1px -1px 0 rgba(0, 0, 0, 0.35), -1px 1px 0 rgba(0, 0, 0, 0.35),
      1px 1px 0 rgba(0, 0, 0, 0.35), /* néon blanc */ 0 0 4px #ffffff,
      0 0 8px #ffffff, 0 0 16px #ffffff;
  }

  21%,
  24%,
  56% {
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.45), 1px -1px 0 rgba(0, 0, 0, 0.45),
      -1px 1px 0 rgba(0, 0, 0, 0.45), 1px 1px 0 rgba(0, 0, 0, 0.45);
  }
}

.neon-outline-flicker {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: transparent; // texte vide
  text-shadow: inherit;

  animation: neon-outline-flicker 3s infinite;
}
