#Navbar {
  width: 1440px;
  margin: 0 auto;
}

.Nav-content {
  display: flex;
  line-height: 7;
}

.Logo {
  margin: 0 auto 0 0;
  font-size: 1.3rem;
}

.Logo h1 {
  line-height: 0.7;
  font-weight: bold;
  background: linear-gradient(#f8fafc, #94a3b8);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.link {
  display: flex;
  gap: 20px;
  margin-right: 30px;
}

.link a {
  color: #f8fafc;
  font-size: 1.2rem;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

.dark-toggle {
  margin-left: 20px;
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  transition: transform 0.2s ease;
}

.dark-toggle:hover {
  transform: scale(1.2);
}

.dark .Nav-content a {
  color: #f5f5f5;
}

.Nav-content a.active {
  font-weight: bold;
}
